tilosutils@git+https://git@github.com/dertilo/tilosutils.git#egg=tilosutils
# text_processing@git+https://git@github.com/dertilo/text-processing.git#egg=text_processing
speech_processing@git+https://git@github.com/dertilo/speech-processing.git#egg=speech_processing
# speech_to_text@git+https://git@github.com/dertilo/speech_to_text.git#egg=speech_to_text
dash
dash-auth
ansi2html
tqdm
dash-renderer
llvmlite==0.36.0 # otherwise it complains
librosa
dash_html_components
dash_bootstrap_components
dash-pivottable
plotly
dash_core_components
dash_table
numba==0.53.1 # TODO: wtf!
numpy
diff_match_patch
editdistance
pandas
hydra_core
tqdm
pysubs2