# following should already be installed in system-site-packages
#llvmlite==0.36.0 # otherwise it complains
#librosa
#numba==0.53.1 # TODO: wtf!
#numpy
#pandas
#nemo-toolkit[asr]==1.3.0 # TODO: must go away!

dash
dash-auth
ansi2html
dash-renderer
dash_html_components
dash_bootstrap_components
dash-pivottable
plotly
dash_core_components
dash_table
diff_match_patch
editdistance
hydra_core
tqdm
pysubs2
